body{
    font-family: Arial, Helvetica, sans-serif;
}
*{
    background-color: rgb(191, 173, 173);
    padding: 0px;
}
.Header{
    text-align: center;
    margin-bottom: 40px;
}
.nd {
    padding: 20px 25px; 
}
.body{
     padding: 20px 25px; 
}
.body2{
     padding: 20px 25px; 
}
.body ul{
    margin-left: 20px;
}
.body2{
    margin-left: 20pxq;
}
.logo img{
    width: 200px
}